[Desktop Entry]
Type=Application
Name=Xendfile
Comment=Secure local file sharing
Exec=xendfile
Icon=xendfile
Terminal=false
Categories=Network;FileTransfer;
Keywords=share;send;transfer;local;LAN;
StartupNotify=false
